/BE/phpAdmin/.phpunit.cache
/BE/phpAdmin/node_modules
/BE/phpAdmin/public/build
/BE/phpAdmin/public/hot
/BE/phpAdmin/public/storage
/BE/phpAdmin/storage/*.key
/BE/phpAdmin/vendor
/BE/phpAdmin/.env
/BE/phpAdmin/.env.backup
/BE/phpAdmin/.env.production
/BE/phpAdmin/.phpunit.result.cache
/BE/phpAdmin/Homestead.json
/BE/phpAdmin/Homestead.yaml
/BE/phpAdmin/auth.json
/BE/phpAdmin/npm-debug.log
/BE/phpAdmin/yarn-error.log
/BE/phpAdmin/.fleet
/BE/phpAdmin/.idea
/BE/phpAdmin/.vscode
/BE/phpAdmin/config.json
/BE/golangTriviaGame/.idea
/BE/golangTriviaGame/.env
/BE/express-socket-io/node_modules
/BE/express-socket-io/.idea
/FE/admin-panel/.idea
/FE/admin-panel/.next
/FE/admin-panel/node_modules/
/FE/quiz-app/.idea

